footer.footer
    .container
        .footer__item
            a.logo(href="/home.html",title="Tribuna.pl.ua")
            ul.footer__menu
                li
                    a(href="#") Події
                li
                    a(href="#") Медицина
                li
                    a(href="#") Економіка
                li
                    a(href="#") Спецпроект
                li
                    a(href="#") Інтерв’ю
                li
                    a(href="#") Спорт
                li
                    a(href="#") Афіша
            .clearfix
            .footer__text.footer__about 2018 «Трибуна» Незалежна преса Полтави. Використання матеріалів «Трибуни» на інших сайтах дозволяється лише за наявності гіперпосилання на сайт tribuna.pl.ua, не закритого для індексації пошуковими системами. У друкованих виданнях — лише за погодженням з редакцією.Редакція «Трибуни» не несе відповідальності за зміст коментарів, розміщених користувачами сайту. Редакція може не завжди поділяти погляди авторів окремих публікацій.
        .footer__item
            ul.socialButtons
                li
                    a(href="#").fab.fa-facebook-f
                li
                    a(href="#").fab.fa-instagram
                li
                    a(href="#").fab.fa-twitter
                li
                    a(href="#").fab.fa-youtube
                li
                    a(href="#").fab.fa-telegram-plane
            .footer__text
                | Редакція - tribuna.pl.ua@gmail.com<br>
                | Телефон - +38(099)707-82-80
    .container
        .footer__text &copy; 2015-2018 Трибуна, незалежна преса Полтави
