.header
    .container
        .header__firstColumn
            button.navControl
                .navControl__line
                .navControl__line
                .navControl__line
            a.logo(href="/home.html",title="Tribuna.pl.ua")
            ul.header__menu
                li.active
                    a(href="/post-1.html") Медицина
                li
                    a(href="/post-1.html") Економіка
                li
                    a(href="/post-1.html") Спорт
                li
                    a(href="/post-1.html") Афіша
        .header__secondColumn
            button.searchControl
                i.fal.fa-search
            .currency
                .currency__item
                    .currency__title А95 – 25 грн.
                    .currency__label Топливо
                .currency__item
                    .currency__title $ – 28.1 грн.
                    .currency__label курсы
            ul.socialButtons
              li
                a(href="#").fab.fa-facebook-f
              li
                a(href="#").fab.fa-instagram
              li
                a(href="#").fab.fa-twitter
              li
                a(href="#").fab.fa-youtube
              li
                a(href="#").fab.fa-telegram-plane
