.header{
  height: 44px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  background-color: $dark-grey;
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  z-index: 3;
  .logo,.navControl,.searchControl{
    position: absolute;
    display: block;
  }
  .logo{
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    left:15px;
    top:0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 44px;
    height: 44px;
    @media (-webkit-min-device-pixel-ratio: 2) {
      background-image: url('../img/logo@2x.png');
    }
  }
  &__menu{
    display: none;
  }
  .navControl{
    top:15px;
    left:15px;
    &__line{
      height: 1px;
      width: 20px;
      background: white;
      margin-bottom: 6px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .searchControl{
    top:11px;
    right: 15px;
    left: auto;
    color: $white;
    font-size: 20px;
  }
  .currency{
    display: none;
  }
  .socialButtons{
    display: none;
  }

  // Media queries for laptops and desktop - start
  @media screen and (min-width: 1280px){
    height: 61px;
    .searchControl{
      font-size: 22px;
    }
    .container{
      display: flex;
    }
    &__firstColumn{
      width: 100%;
    }
    &__secondColumn{
      position: relative;
      min-width: 460px;
      padding-left: 60px;
      height: 100%;
      display: flex;
      &:before{
        display: block;
        position: absolute;
        background-color: $burgundy;
        width: 2500px;
        height: 100%;
        left:0;
        top:0;
        content: "";
        z-index: 1;
      }
      *{
        z-index: 2;
      }
    }
    .navControl{
      display: none;
    }
    .logo{
      margin: auto 0;
      height: 61px;
      width: 61px;
    }
    &__menuSubmenu{
      position: relative;
      &:before{
        right: -17px;
        top: 20px;
        position: absolute;
        font-size: 12px;
        display: block;
        content: "\f067";
        font-family: "Font Awesome 5 Pro";
        color:$white;
      }
    }
    .hidden{
      display: none;
    }
    &__menu{
      display: flex;
      padding: 0;
      margin: 0;
      height: 100%;
      align-content: center;
      list-style: none;
      position: absolute;
      left:75px;
      .menu-item-has-children{
        position: relative;
        .sub-menu{
          position: absolute;
          top:100%;
          width: 152px;
          left:-25px;
          padding: 0 25px !important;
          background: $black;
          z-index: 9999;
          padding-left: 0;
          display: none;
          li{
            margin: 0px;
          }
          &:after{
            display: none !important;
          }
        }
      }
      li{
        margin-left: 25px;
        height: 100%;
        position: relative;
        &.current-menu-item,&.active,& > :hover{
         &:after{
            position: absolute;
            bottom: 0;
            left:0;
            width: 100%;
            height: 2px;
            background-color: $red;
            content: "";
            display: block;
          }
        }
        &:hover{
          & > .sub-menu{
            display: block;
          }
        }
      }
      a{
        display: block;
        line-height: 61px;
        height: 100%;
        color:$white;
        @include museoSansCyrl(500);
        font-size: 15px;
      }
    }
    .searchControl{
      top:19px;
      right: auto;
      left: 20px;
      color: $white;
      font-size: 22px;
      transition: color 0.3s;
      &:hover{
        color: #2196f3;
      }
    }
    .currency{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
     text-align: center;
      min-width: 180px;
      width: 180px;
      padding: 0 10px;
      &__title{
        color: $white;
        @include museoSansCyrl(500);
        font-size: 15px;
      }
      &__label{
        opacity: 0.6;
        color: $white;
        @include museoSansCyrl(500);
        font-size: 11px;
        line-height: 11px;
        text-transform: uppercase;
      }
      &:before,&:after{
        position: absolute;
        content: "";
        height: 22px;
        width: 1px;
        background-color: $white;
        opacity: .18;
      }
      &:before{
        left: 0;
      }
      &:after{
        right: 0;
      }
    }
    .socialButtons{
      display: flex;
      list-style: none;
      color:$white;
      font-size: 17px;
      padding-left: 26px;
      li{
        background-color: #be3542;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        margin: 0 5px;
        line-height: 30px;
        a{
          color:$white;
          transition: color 0.3s;
        }
        &:hover{
          a{
            color: #2196f3;
          }
        }
      }
    }
  }
  // Media queries for laptops and desktop - end
}