//- news-1.pug

extends ../layout.pug
block variables
    - var title = 'ШоУнас. Як Марина Порошенко на селі була'
    - var bodyClass = 'pagePostItem'
block content
    section.categoryPosts
        .container
            .wrapColumn
                .columnMain
                    .postItem
                        .postItem__head
                            h1.postItem__title ШоУнас. Як Марина Порошенко на селі була
                            .postItem__video
                                 i.fas.fa-play
                        .postItem__meta
                            a(href="/blog-author.html").postItem__author Лілія Войцехівська
                                img(src="./dist/img/ava.jpg")
                            .postItem__date 21 листопада 2018
                            .postCard__comments 25
                        .postItem__body
                            p Звичайно, що дані ви отримаєте, але якої якості — питання. Дізнавшись про цей випадок, декілька людей порадило поділитися корисним кейсом, який допоможе мешканцям міста, журналістам чи активістам зрозуміти алгоритм дій для боротьби з обмеженням на інформацію.
                            p У попередньому блозі пояснюється причина нашого візиту до ЖКГ – це відсутність скану в Управлінні. Про це повідомили у відсканованій відповіді на офіційний інформаційний запит.
                            p Дані, які хотіли отримати: сканкопії договорів та кошторисної документації по усім 4-м закупівлям ремонту полтавських підземок. Проблеми з доступом до публічної інформації почались 27 листопада 2017 року. У відведений законом час (5 робочих днів) управління ЖКГ надіслало відповідь у якій значилося:
                            img(src="./dist/img/posts/large-post-1.png",alt="ШоУнас. Як Марина Порошенко на селі була",title="ШоУнас. Як Марина Порошенко на селі була")
                            p У ЗУ «Про доступ до публічної інформації» чітко прописані причини відмови у надані інформації. Серед них немає «технічних причин». Тому, щоб відстояти свої права, потрібно спочатку звернутися до регіонального представника Уповноваженого ВРУ з прав людини.
                            p У Полтавській області — це Віра Яковенко, на електронну адресу якої була направлена скарга з роз’ясненнями проблеми та проханням порушити справу про адміністративне порушення.
                            p 12 січня 2018 року (час відповіді від Уповноваженого — близько місяця) надійшла відповідь:
                            blockquote
                                p У ЗУ «Про доступ до публічної інформації» чітко прописані причини відмови у надані інформації. Серед них немає «технічних причин».
                                p Тому, щоб відстояти свої права, потрібно спочатку звернутися до регіонального представника Уповноваженого ВРУ з прав людини.
                                p У Полтавській області — це Віра Яковенко, на електронну адресу якої була направлена скарга з роз’ясненнями проблеми та проханням порушити справу про адміністративне порушення.
                            p У ЗУ «Про доступ до публічної інформації» чітко прописані причини відмови у надані інформації. Серед них немає «технічних причин». Тому, щоб відстояти свої права, потрібно спочатку звернутися до регіонального представника Уповноваженого ВРУ з прав людини.
                            p У Полтавській області — це Віра Яковенко, на електронну адресу якої була направлена скарга з роз’ясненнями проблеми та проханням порушити справу про адміністративне порушення.
                            p 12 січня 2018 року (час відповіді від Уповноваженого — близько місяця) надійшла відповідь:
                            .postItem__boxImg
                                img(src="./dist/img/posts/post-item-img-1.jpg")
                                p Відсканований кошторис
                            p Звичайно, якщо вас не влаштовує відповідь з наданими документами, ви можете повторно звернутися із запитом. При цьому зазначити, що документи були неналежної якості.
                            p Розгляд адміністративної справи Октябрський районний суд призначив на 5 березня 2018 року. Таким чином, строк стягнення з дати (фіксації) вчинення правопорушення минув (зафіксовано 27 листопада). Адже справедливість має «перемогти» протягом 3-х місяців. У цій ситуації є два варіанти:
                            p Суд має купу справ, тому більш ранньої дати не знайшлось. Такий розгляд справи спланований. <br>Який з них ближче до реальності?
                            p У такому випадку, ви можете написати скаргу на суддю і всеодно наголосити на фіксації адміністративного порушення, навіть якщо стягнень вже не буде.
                        .postItem__social
                            div.a2a_kit.a2a_kit_size_30.a2a_default_style
                                a.a2a_button_facebook.share__facebook Facebook
                                a.a2a_button_twitter.share__twitter Twitter
                                a.a2a_button_email.share__email Email
                            script(async,src="https://static.addtoany.com/menu/page.js")
                        .postItem__info
                            a(href="/blog-author.html").postItem__author Лілія Войцехівська
                                img(src="./dist/img/ava.jpg")
                            .postItem__date 21 листопада 2018
                            .postCard__comments 25
                            .postItem__tags
                                a(href="#") #ПОЛТАВА
                                a(href="#") #НОВИНИ
                                a(href="#") #МІСТО
                                a(href="#") #ПОЛІТИКА
                    h3.modulePosts__title Последние статьи:
                    .posts__col3
                        include ../components/postCardThree
                    .boxFormComments
                        .boxFormComments__title Коментувати
                        form
                            input(type="text",placeholder="Ваше Ім’я")
                            input(type="text",placeholder="Ваш e-mail")
                            textarea(placeholder="Ваш комментар")
                            input(type="submit",value="Відправити")
                    include ../components/postItemComments
                    h3.modulePosts__title Читайте також:
                    .posts__col3
                        include ../components/postCardThree
                .columnSidebar
                    include ../components/postCardOnce
                    .columnSidebar__item
                        img(src="./dist/img/banner_sidebar.jpg").sidebar_img
                    .columnSidebar__item.boxComments
                        .columnSidebar__itemTitle Комментарі
                        include ../components/comments
                    .columnSidebar__item
                        include ../components/postCardOnce
                    .columnSidebar__item.boxComments.lastNews
                        .columnSidebar__itemTitle ОСТАННІ НОВИНИ
                        include ../components/lastNews