.posts__item-md
    .postCard--middle.active
        .postCard__label СТАТТЯ ТИЖНЯ
        .postCard__imgContainer
            img(src="./dist/img/posts/mid-post-1.jpg",alt="Культ. Огляд: полтавський рейв \"LOCAL0532\"",title="Культ. Огляд: полтавський рейв \"LOCAL0532\"").postCard__img
        a.postCard__author
            img(src="./dist/img/ava.jpg")
        .postCard__video
            i.fas.fa-play
        h3.postCard__title
          a(href="/news-1.html",,title="Культ. Огляд: полтавський рейв \"LOCAL0532\"") Культ. Огляд: полтавський рейв "LOCAL0532"
        .postCard__meta
            div
                .postCard__date 21 листопада 2018
                .postCard__border
                .postCard__comments 25
            .postCard__category Блог
.posts__item-md
    .postCard--middle
        .postCard__imgContainer
            img(src="./dist/img/posts/mid-post-1.jpg",alt="Культ. Огляд: полтавський рейв \"LOCAL0532\"",title="Культ. Огляд: полтавський рейв \"LOCAL0532\"").postCard__img
        a.postCard__author
            img(src="./dist/img/ava.jpg")
        h3.postCard__title
            a(href="/news-1.html",,title="Культ. Огляд: полтавський рейв \"LOCAL0532\"") Культ. Огляд: полтавський рейв "LOCAL0532"
        .postCard__meta
            .postCard__date 21 листопада 2018
            .postCard__category Блог