ul.listComments
    - for (var x = 0; x < 3; x++)
        li.postSidebarItem
            h3.postSidebarItem__title
                a(href="/news-1.html#comment-1",title="Якщо алкоголь, який розпивають містяни у нічний час, є контрафактним, то яким же він буде після та…") Якщо алкоголь, який розпивають містяни у нічний час, є контрафактним, то яким же він буде після та…
            h4.postSidebarItem__subtitle
                img(src="./dist/img/posts/little-post-1.jpg")
                a(href="/news-1.html",title="Депутати планують заборонити продаж",) Депутати планують заборонити продаж
            .postSidebarItem__meta
                .postSidebarItem__date 25.10.2018
                a(href="/author-1.html",title="Александр",).postSidebarItem__author Александр