.posts__item
    .postCard.active
        .postCard__label СТАТТЯ ТИЖНЯ
        .postCard__imgContainer
            img(src="./dist/img/posts/small-post-1.jpg",alt="Культ. Огляд: полтавський рейв \"LOCAL0532\"",title="Культ. Огляд: полтавський рейв \"LOCAL0532\"").postCard__img
        h3.postCard__title
          a(href="/news-1.html",,title="Культ. Огляд: полтавський рейв \"LOCAL0532\"") Культ. Огляд: полтавський рейв "LOCAL0532"
        .postCard__meta
            div
                .postCard__date 21 листопада 2018
                .postCard__border
                .postCard__comments 25
            .postCard__category 25 фото
.posts__item
    .postCard
        .postCard__imgContainer
            img(src="./dist/img/posts/small-post-2.jpg",alt="Культ. Огляд: полтавський рейв \"LOCAL0532\"",title="Культ. Огляд: полтавський рейв \"LOCAL0532\"").postCard__img
        h3.postCard__title
            a(href="/news-1.html",,title="Культ. Огляд: полтавський рейв \"LOCAL0532\"") Культ. Огляд: полтавський рейв "LOCAL0532"
        .postCard__meta
            div
                .postCard__date 21 листопада 2018
                .postCard__border
                .postCard__comments 25
            .postCard__category 25 фото
.posts__item
    .postCard
        .postCard__imgContainer
            img(src="./dist/img/posts/small-post-3.jpg",alt="Скарги та війна підприємців: чи отримає полтавський аеропорт огорожу за 40 млн гривень?",title="Скарги та війна підприємців: чи отримає полтавський аеропорт огорожу за 40 млн гривень?").postCard__img
        h3.postCard__title
            a(href="/news-1.html",,title="Скарги та війна підприємців: чи отримає полтавський аеропорт огорожу за 40 млн гривень?") Скарги та війна підприємців: чи отримає полтавський аеропорт огорожу за 40 млн гривень?
        .postCard__meta
            .postCard__date 21 листопада 2018
            .postCard__category 25 фото
.posts__item
    .postCard
        .postCard__imgContainer
            img(src="./dist/img/posts/small-post-4.jpg",alt="Новий проект \"Трибуни\" — \"Полтавський ненаВісник\"",title="Новий проект \"Трибуни\" — \"Полтавський ненаВісник\"").postCard__img
        h3.postCard__title
            a(href="/news-1.html",,title="Новий проект \"Трибуни\" — \"Полтавський ненаВісник\"") Новий проект "Трибуни" — "Полтавський ненаВісник"
        .postCard__meta
            .postCard__date 21 листопада 2018
            .postCard__category 25 фото
