ul.listLastNews
    - for (var x = 0; x < 3; x++)
        li.postSidebarItem
            h3.postSidebarItem__title
                a(href="/news-1.html#comment-1",title="Якщо алкоголь, який розпивають містяни у нічний час, є контрафактним, то яким же він буде після та…") Якщо алкоголь, який розпивають містяни у нічний час, є контрафактним, то яким же він буде після та…
            .postSidebarItem__meta
                .postSidebarItem__date 12:55, 25.10.2018
                .postCard__border
                .postCard__comments 25