.mobileMenuBox
    button.btn-close
    button.searchControl
        i.fal.fa-search
    ul.menu
        li
            a(href="/news-1.html") Медицина
        li
            a(href="/news-1.html") Економіка
        li
            a(href="/news-1.html") Спорт
        li
            a(href="/news-1.html") Афіша