.posts__once
    .postCard
        .postCard__label СТАТТЯ ТИЖНЯ
        .postCard__imgContainer
            img(src="./dist/img/posts/small-post-4.jpg",alt="Новий проект \"Трибуни\" — \"Полтавський ненаВісник\"",title="Новий проект \"Трибуни\" — \"Полтавський ненаВісник\"").postCard__img
        a.postCard__author
            img(src="./dist/img/ava.jpg")
        .postCard__video
            i.fas.fa-play
        h3.postCard__title
          a(href="/news-1.html",,title="Новий проект \"Трибуни\" — \"Полтавський ненаВісник\"") Новий проект "Трибуни" — "Полтавський ненаВісник"
        .postCard__meta
            div
                .postCard__date 21 листопада 2018
                .postCard__border
                .postCard__comments 25
            .postCard__category Блог
