.postItemComments
   h3.modulePosts__title 3 прокомментували
   .postItemCommentItem
      .postItemCommentItem__title Много ветеранов со своим бизнесом. ну я лично знаю 3-4. Это считается за самозанятость?
      .postItemCommentItem__meta
         .postItemCommentItem__date 25.10.2018
         .postCard__border
         .postItemCommentItem__author Александр
         .postCard__border
         a(href="#").postItemCommentItem__reply Ответить
      .postItemCommentItem__boxLike.postItemCommentItem__likeEmpty
         a(href="#").postItemCommentItem__like
         span 0
   .postItemCommentItem
      .postItemCommentItem__title Це ж треба ще працювать, простіше жить на пенсії та допомогу.
      .postItemCommentItem__meta
         .postItemCommentItem__date 25.10.2018
         .postCard__border
         .postItemCommentItem__author Александр
         .postCard__border
         a(href="#").postItemCommentItem__reply Ответить
      .postItemCommentItem__boxLike
         a(href="#").postItemCommentItem__like
         span 1
   .postItemCommentItem
       .postItemCommentItem__title Важкуваті наші люди на підйом.
       .postItemCommentItem__meta
          .postItemCommentItem__date 25.10.2018
          .postCard__border
          .postItemCommentItem__author Александр
          .postCard__border
          a(href="#").postItemCommentItem__reply Ответить
       .postItemCommentItem__boxLike
          a(href="#").postItemCommentItem__like
          span 33
