ul.slider.owl-carousel
    - for (var x = 0; x < 3; x++)
        li.slider__item
            .slider__imgContainer
                img(src="dist/img/posts/large-post-1.png",alt="ШоУнас. Як Марина Порошенко на селі була",title="ШоУнас. Як Марина Порошенко на селі була").slider__img
                .slider__meta
                    a(href="#",).slider__author
                        img(src="dist/img/ava.jpg",alt="Автор",title="Автор")
                    .slider__itemType
                        .slider__video
                            i.fas.fa-play
            .slider__footer
                .slider__meta
                    .slider__date 02/11
                        span.slider__time 21:55
                        span.slider__comments 25
                            i.fal.fa-comment
                h2.slider__title
                    a(href="#",,title="ШоУнас. Як Марина Порошенко на селі була") ШоУнас. Як Марина Порошенко на селі була
                .slider__label ВІДЕО ТИЖНЯ


