.topPost
    .topPost__meta
        .topPost__date 02/11
        .topPost__time 21:55
        .topPost__border
        .topPost__comments 25
            i.fal.fa-comment
    h3.topPost__title
        a(href="#",,title="Якщо алкоголь, який розпивають містяни у нічний час, є контрафактним, то яким же він буде після та…") Якщо алкоголь, який розпивають містяни у нічний час, є контрафактним, то яким же він буде після та…
.topPost
    .topPost__meta
        .topPost__date 02/11
        .topPost__time 21:55
        .topPost__border
        .topPost__comments 25
            i.fal.fa-comment
        .topPost__t
        .topPost__p
    h3.topPost__title
        a(href="#",,title="Якщо алкоголь, який розпивають містяни у нічний час, є контрафактним, то яким же він буде після та…") Якщо алкоголь, який розпивають містяни у нічний час, є контрафактним, то яким же він буде після та…
.topPost
    .topPost__meta
        .topPost__date 02/11
        .topPost__time 21:55
        .topPost__border
        .topPost__video
        .topPost__t
        .topPost__p
    h3.topPost__title
        a(href="#",,title="Якщо алкоголь, який розпивають містяни у нічний час, є контрафактним, то яким же він буде після та…") Якщо алкоголь, який розпивають містяни у нічний час, є контрафактним, то яким же він буде після та…